.my_nav_bar{
    position:sticky;
    top:0;
    z-index:99999
}
iframe {
    text-align: center;
    height: 500px;
    width: 500px;
    display: block;
    margin-left: 0px;
}

h1 {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}